<% if (locals.username) { %>
<%- include("layouts/header", { username: username }) -%>
<% } else { %>
<%- include("layouts/header") -%>
<% } %>
<div class="bookInfo">
  <div class="card mb-3" style="max-width: 1300px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= result.imgurl %>" class="img-fluid" alt="<%= result.imgurl %>" style="width: 400px; height: 497px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-start">
            <h5 class="card-title"><%= result.bookTitle %></h5>
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck1">Favorite</label>
          </div>
          <p class="card-text">Rating: <%= averageRating %> with <%= numRatings %> votes <br>
            Author: <%= result.author %> <br>
            Genres: <%= result.genre %></p>
            
            <% if (locals.username) { %>
            <div class="row mt-4">
              <form id="ratingForm" action="/rate" method="post">
                  <div class="mb-3">
                      <label for="rating" class="form-label">Select your rating:</label>
                      <div class="rating">
                          <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
                          <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
                          <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
                          <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
                          <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary" style="padding: 0.2rem 0.5rem; font-size: 0.8rem;" value="<%= result._id%>" name="submitbutton">Submit</button>
              </form>
          </div>
          <% } %>
          
          <div class="card-body">
            <h5 class="card-title">Summary</h5>
            <p class="card-text"><%= result.summary %></p>
        
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "card">
    <h5>Reviews</h5>
    <% if (locals.username) { %>
    <div class="post-box">
      <h5 class="card-title">Add Your Post</h5>
      <form action="/review" method="post">
        <textarea class="form-control" placeholder="Write your post here..." rows="5" name="review"></textarea>
        <button class="btn btn-primary" value="<%= result._id%>" name="submitbutton">Submit Post</button>
      </form>
    </div>
    <% } %>
    <div class="comments-container">
      <!-- Add your comments here -->
      <% for ( const review of result.reviews ) { %>
       <%if (review.review) { %>
        <div class="comment">
          <p><%= review.username %>: <%= review.review %></p>
      </div>
      <% } %>
      <% } %>
      
  </div>
  </div>
</div>
<%- include("layouts/footer") -%>