<% if (locals.username) { %>
    <%- include("layouts/header", { username: username }) -%>
    <% } else { %>
    <%- include("layouts/header") -%>
    <% } %>
<div class="container mt-4">
    <h1>Top Books</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12" style="max-width: 500px;">
                    <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <form action="/bookInfo" method="post">
                                        <button type="submit" value="<%= results[0]._id%>" class="coverPicture" name="submitbutton">
                                            <img src="<%= results[0].imgurl%>" class="d-block w-100" alt="<%= results[0].imgurl%>" style="width: 400px; height: 597px;"/>
                                        </button>
                                    </form>
                                </div>
                            <div class="carousel-item">
                                <form action="/bookInfo" method="post">
                                    <button type="submit" value="<%= results[1]._id%>" class="coverPicture" name="submitbutton">
                                        <img src="<%= results[1].imgurl%>" class="d-block w-100" alt="<%= results[1].imgurl%>" style="width: 400px; height: 597px;"/>
                                    </button>
                                </form>
                            </div>
                            <div class="carousel-item">
                                <form action="/bookInfo" method="post">
                                    <button type="submit" value="<%= results[2]._id%>" class="coverPicture" name="submitbutton">
                                        <img src="<%= results[2].imgurl%>" class="d-block w-100" alt="<%= results[2].imgurl%>" style="width: 400px; height: 597px;"/>
                                    </button>
                                </form>
                            </div>
                            <div class="carousel-item">
                                <form action="/bookInfo" method="post">
                                    <button type="submit" value="<%= results[3]._id%>" class="coverPicture" name="submitbutton">
                                        <img src="<%= results[3].imgurl%>" class="d-block w-100" alt="<%= results[3].imgurl%>" style="width: 400px; height: 597px;"/>
                                    </button>
                                </form>
                            </div>
                            <div class="carousel-item">
                                <form action="/bookInfo" method="post">
                                    <button type="submit" value="<%= results[4]._id%>" class="coverPicture" name="submitbutton">
                                        <img src="<%= results[4].imgurl%>" class="d-block w-100" alt="<%= results[4].imgurl%>" style="width: 400px; height: 597px;"/>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" ariahidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="bookInfo" class="mt-4"></div>
                </div>
            </div>
        </div>
    </div>
<div class="row mt-4">
<h2>Popular Books</h2>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook1.jpg" alt="Popular Book 1" style="max-width: 100%;">
        <p>Lord of the Rings</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook2.jpg" alt="Popular Book 2" style="max-width: 100%;">
        <p>The Alchemist</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook3.jpg" alt="Popular Book 3" style="max-width: 100%;">
        <p>Twilight</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook4.jpg" alt="Popular Book 4" style="max-width: 100%;">
        <p>Fifty Shades ofGrey</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook5.jpg" alt="Popular Book 5" style="max-width: 100%;">
        <p>The Book Thief</p>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <img src="images/popbook6.jpg" alt="Popular Book 6" style="max-width: 100%;">
        <p>Hunger Games</p>
    </div>
</div>
</div>


</div>
<%- include("layouts/footer") -%>