<% if (locals.username) { %>
    <%- include("layouts/header", { username: username }) -%>
    <% } else { %>
    <%- include("layouts/header") -%>
    <% } %>
<div class="container mt-4">
    <h1>Top Books</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12" style="max-width: 500px;">
                    <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <form action="/bookInfo" method="post">
                                        <button type="submit" value="<%= results[0]._id%>" class="coverPicture" name="submitbutton">
                                            <img src="<%= results[0].imgurl%>" class="d-block w-100" alt="<%= results[0].imgurl%>" width="400px" height="597px"/>
                                        </button>
                                    </form>
                                </div>
                            <div class="carousel-item">
                                <form action="/bookInfo" method="post">
                                    <button type="submit" value="<%= results[1]._id%>" class="coverPicture" name="submitbutton">
                                        <img src="<%= results[1].imgurl%>" class="d-block w-100" alt="<%= results[1].imgurl%>" width="400px" height="597px"/>
                                    </button>
                                </form>
                            </div>
                            <div class="carousel-item">
                                <form action="/bookInfo" method="post">
                                    <button type="submit" value="<%= results[2]._id%>" class="coverPicture" name="submitbutton">
                                        <img src="<%= results[2].imgurl%>" class="d-block w-100" alt="<%= results[2].imgurl%>" width="400px" height="597px"/>
                                    </button>
                                </form>
                            </div>
                            <div class="carousel-item">
                                <form action="/bookInfo" method="post">
                                    <button type="submit" value="<%= results[3]._id%>" class="coverPicture" name="submitbutton">
                                        <img src="<%= results[3].imgurl%>" class="d-block w-100" alt="<%= results[3].imgurl%>" width="400px" height="597px"/>
                                    </button>
                                </form>
                            </div>
                            <div class="carousel-item">
                                <form action="/bookInfo" method="post">
                                    <button type="submit" value="<%= results[4]._id%>" class="coverPicture" name="submitbutton">
                                        <img src="<%= results[4].imgurl%>" class="d-block w-100" alt="<%= results[4].imgurl%>" width="400px" height="597px"/>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" ariahidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="bookInfo" class="mt-4"></div>
                </div>
            </div>
        </div>
    </div>
<div class="row mt-4">
<h2>Popular Books</h2>
<div class="col-2">
    <div class="popular-book">
        <form action="/bookInfo" method="post">
            <button type="submit" value="<%= results[5]._id%>" class="coverPicture" name="submitbutton">
                <img src="<%= results[5].imgurl%>" class="d-block w-100" alt="<%= results[5].imgurl%>" style="max-width: 100%;"/>
            </button>
            <p><%= results[5].bookTitle %></p>
        </form>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <form action="/bookInfo" method="post">
            <button type="submit" value="<%= results[6]._id%>" class="coverPicture" name="submitbutton">
                <img src="<%= results[6].imgurl%>" class="d-block w-100" alt="<%= results[6].imgurl%>" style="max-width: 100%;"/>
            </button>
            <p><%= results[6].bookTitle %></p>
        </form>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <form action="/bookInfo" method="post">
            <button type="submit" value="<%= results[7]._id%>" class="coverPicture" name="submitbutton">
                <img src="<%= results[7].imgurl%>" class="d-block w-100" alt="<%= results[7].imgurl%>" style="max-width: 100%;"/>
            </button>
            <p><%= results[7].bookTitle %></p>
        </form>
    </div>
</div>
<div class="col-2">
    <div class="popular-book">
        <form action="/bookInfo" method="post">
            <button type="submit" value="<%= results[8]._id%>" class="coverPicture" name="submitbutton">
                <img src="<%= results[8].imgurl%>" class="d-block w-100" alt="<%= results[8].imgurl%>" style="max-width: 100%;"/>
            </button>
            <p><%= results[8].bookTitle %></p>
        </form>
    </div>
</div>
</div>


</div>
<%- include("layouts/footer") -%>